
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


h1 {
	text-align: center;
	color:blue;
	font-family: 'Indie Flower', cursive;
	font-size: 70px;
	padding: 0 20px 0 20px;
}

body {
	background-image: url(http://i.imgur.com/e5Tg6Ou.png); 
}

div {
	text-align: center;

}

.add-new-image {
	font-family: 'Indie Flower', cursive;
	font-size: 30px;

}

.instructions {
	font-family: 'Indie Flower', cursive;
	font-size: 30px;
	padding-bottom: 30px;
}

.images {
	padding-bottom: 32px;
	padding-top: 32px;

}

.caption {
	text-align: center;
	color:black;
	font-family: 'Indie Flower', cursive;
	font-size: 30px;
}
.photo {
	text-align: center;
}
.buttons {
		font-family: 'Indie Flower', cursive;
	font-size: 20px;
	text-decoration: underline;
}

h2 {
	text-align: center;
	color:black;
	font-family: 'Indie Flower', cursive;
	font-size: 50px;
	padding-bottom: 50px;
}

.dashes {
	font-weight: 900;
}
.newform{
	text-align: center;
	padding-top: 100px;

}
.hashes{
	text-align: center;
	padding-bottom: 50px;
}
.like{
	text-align: center;
}
.comments{
	text-align: center;
}
